* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* styling av nav-links */
nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f76b8e;
    font-family: sans-serif;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color:#f76b8e;
    position: absolute;
    right: 0px;
    top: -500px;
    width: 200px;
    list-style: none;
    transition: all 0.5s;
}

/* styling av id på nav-elementet som fått det id:et genom javascriptet  */
.nav-active {
    transform: translateY(600px);
}

/* styling för länkarna när de är aktiva i sin column */
#nav-links a {
    text-decoration: none;
    color: rgb(5, 4, 4);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-links a:hover {
    color: white;
    transition: ease 0.4s;
}

/* styling av meny-knappen, vid crossed-line förflyttas varje burger-line inom den specifika class-listan varsin grad/grader medan den ena försvinner för att i sin tur skapa ett kryss. Detta görs när meny-knappen aktiveras med ett knapptryck*/
.burger_line {
    width: 25px;
    height: 3px;
    background-color: rgb(3, 3, 3);
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#burger {
    margin-right: 87.5px;
    cursor: pointer;
}
/* slut på styling av meny-knappen*/

/* här påbörjas stylingen av de enskilda kolumnerna, titlar, schema-bilden, storleken på kalendern samt andra listan med länkar när hemsidan inte visas i helskärm. dvs när bredden är mindre än 800px*/
#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 450px 700px 100px;
    grid-template-areas: 
        "he na"
        "s1 s1"
        "s2 s2"
        "fo fo";
}

header {
    grid-area: he;
    background: #f76b8e;
    padding: 16px;
}

#section_1 {
    grid-area: s1;
    background: #FFDB79;
}

#section_2 {
    grid-area: s2;
    background: #FFC29A;
}

#nav-links2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: none;
    padding: 30px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

#nav-links2 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#nav-links2 a:hover {
    color: white;
}

footer {
    grid-area: fo;
    background-color: #FD85AE;    
    bottom: 0;
    width: 100%;   
    height: 100px;
}

#img_schema {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.85rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.85rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.calendar {
    padding: 0px 0px 15px;
    width: 100%;
    height: 600px;
}

section {
    padding: 16px;
}

/* styling av innehållet när bredden på hemsidan är större än 800px, det mesta av stylingen är detsamma som ovan fast meny-knappen finns ej. en del av innehållet är självklart anpassat för den större bredden på hemsidan vilket kan ses nedan*/

@media screen and (min-width: 800px) {

    #burger {
        display: none;
    }

    #grid_wrapper {
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 100px 600px 100px;
        grid-template-areas: 
            "he he"
            "na na"
            "s1 s2"
            "fo fo";
    }

    #nav-links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        background-color:#FD85AE;
        position: absolute;
        left: 0px;
        top: 100px;
        width: 100%;
        transition: none;
        list-style: none;
        text-decoration: none;
    }

    #nav-links a:hover {
        color: white;
        background-color:#FD85AE;
        transition: ease 0.4s;
    }

    section {
        padding: 32px;
    }

    #img_schema {
        width: 100%;
        height: auto;
        margin-left: -8px;
    }

    .calendar {
        width: 100%;
        height: 90%;
    }

    #nav-links2 {
        grid-area: fo;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        width: 100%;
        height: auto;
        transition: none;
        text-decoration: none;
    }

    #nav-links2 a{
        color: black;
        text-decoration: none;
    }

    #nav-links2 a:hover {
        color: white;
    }

    .nav-active {
        transform: none;
    }


}